.container {
  max-width: 1280px;
  margin: 0 auto;
  align-content: space-between;
  padding: 0 70px 0 70px;
}
@media (max-width: 576px) {
  .container {
    margin: 0 auto;
    align-content: center;
    padding: 0 24px 0 24px;
    max-width: 576px;
  }
}

.title {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}
.main {
  margin-top: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: 539px 1pt;
}
.main img {
  width: 539px;
}
.main .text {
  margin-left: 119px;
  width: 100%;
}
.main .text .title {
  width: 586px;
  font-family: "Space Mono", monospace;
  font-size: 64px;
  font-weight: 700;
}
.main .text .content {
  margin-top: 36px;
  width: 381px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: #4f4f4f;
}
.main .text button {
  font-family: "Space Mono", monospace;
  width: 216px;
  height: 68px;
  background-color: #333333;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-top: 64px;
}
@media (max-width: 576px) {
  .main {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main img {
    width: 100%;
  }
  .main .text {
    margin-left: 0;
  }
  .main .text .title {
    font-size: 48px;
    width: 100%;
  }
  .main .text .content {
    font-size: 18px;
    width: 100%;
  }
}
.info {
  margin-top: 308px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #bdbdbd;
}
